<nav class="navbar fixed-top navbar-dark bg-dark justify-content-between p-1">
    <a class="navbar-brand" href="#">
      <img src="https://img.icons8.com/color/48/000000/dashboard-layout.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Dashboard
    </a>
    <div class="form-inline m-1">
        <img src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-color-vitaly-gorbachev/60/000000/external-user-internet-security-vitaliy-gorbachev-lineal-color-vitaly-gorbachev.png" width="30" height="30" class="d-inline-block align-top" alt=""/>  
    </div>
    
  </nav>

  <div style="background: url(https://mdbootstrap.com/img/Photos/Others/images/76.jpg)" class="page-holder bg-cover"></div>