*{
  overflow: auto;
}
.page-holder {
    min-height: 100vh;
  }
  
  .bg-cover {
    background-size: cover !important;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
  }
  .card-width{
    min-width: 250px;
  }